.styles-module_theme__1FIRA {
  --color-cell-border: rgba(233,233,233,1);
  --color-drag-box-border: hsla(209, 97%, 50%, 0.5);
  --color-drag-box-background: hsla(209, 97%, 65%, 0.5);
  --color-handle-wrapper-text: hsla(209, 100%, 80%, 0.5);
  --color-timeline-text: hsl(0, 0%, 48%);
  --color-header-background: hsla(0, 0%, 97%, 1);
  --color-event-text: hsl(207, 65%, 93%);
  --color-event-background: #4235F2;
  --color-event-active-background: #4235F2;
  --color-event-hover-background: #4235F2;
  --color-event-shadow-1: hsla(202, 100%, 16%, 0.5);
  --color-event-shadow-2: rgba(217, 217, 217, 0.5);
  --color-header-shadow-1: hsla(0, 0%, 50%, 0.2);
  --color-header-shadow-2: hsla(0, 0%, 85%, 0.239);
  --color-timeline-background: white;
  --color-grid-background: white;
}

.styles-module_event__1PixZ {
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
}